body {
	background-color: black;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

.separator {
	display: block;
	width: 100%;
	height: 0.5rem;
	background: linear-gradient(90deg, rgba(72,253,45,1) 0%, rgba(54,225,116,0.5032213569021359) 80%, rgba(34,193,195,0) 100%);
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.TitleWrapper {
	transition: filter 10s ease;
	font-size:4em;
	display: inline-block;
	width: 100%;
	text-align: center;
	filter:hue-rotate(0deg);
}

.TitleWrapper:hover {
	filter: hue-rotate(280deg);
}

.Title {
	display: inline-block;
	z-index: 1000;
	padding-left: 10px;
	padding-right: 10px;
	overflow-x: hidden;
	margin: 0 auto 0 auto;
	background-color: rgba(0, 0, 0, 0.83);
}

h1 {
	font-size: 4rem; /* Override stupid 3rem from Bootstrap */
}

.Hacker {
	position: absolute;
	top:10px;
	left:0;
	display: inline-block;
	overflow: hidden;
	background-image: url(../StyleImages/green_line.png);
	background-repeat: repeat-x;
	transition: filter 1s linear;
	height: 1em;
	margin: 0;
	padding: 0;
	z-index: -1;
	animation-duration: 1s;
	animation-name: TopBarAnimation;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.Hacker:hover {
	filter: hue-rotate(270deg);
}

@keyframes TopBarAnimation {
	0% {
		left:0;
		width: calc(100% + 0px);
	}
	100% {
		left:-128px;
		width: calc(100% + 128px);
	}
}


.figure {
	width: 10em;
	height: 15em;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.FlexWrapper {
	display: flex;
	justify-content: flex-end;
	padding-bottom: calc(3 * 2.5rem);    /* Footer height */
}

.FlexWrapper nav {
	margin: unset;
	margin-left: auto;
	width: auto;
}

.FlexWrapper main.container {
	margin:unset;
	margin-right: auto;
	/*min-width: 700px*/
}

.FlexWrapper nav > div {
	display: flex;
	flex-direction: row;
}

.FlexWrapper nav > div > div {
	display: flex;
	flex-direction: column;
}

.FolderAndFiles img {
	transition: 3s cubic-bezier(.05,.99,.46,.47) all;
	cursor: pointer; /* Fix for ie */
}

.FolderAndFiles img:hover {
	filter: hue-rotate(-90deg) saturate(1);
	transform: rotate(-10deg);
}

.FolderAndFiles .Folder img:hover {
	transform: rotate(-5deg);
}

Figure, section {
	transition: all 0.5s ease-in;
}

section {
	opacity: 1;
	transition: all 0.5s ease-in, height 1s cubic-bezier(1,.01,1,.02);
}

Figure.Closed {
	height: 0;
	width: 0;
	opacity: 0;
	margin: 0;
	overflow: hidden;
}

Figure.Closed figcaption {
	height: 0;
}

section.Closed {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

section {
	opacity: 1;
}

article {
	transition: background 0.25s ease;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: calc(3 * 2.5rem);            /* Footer height */
	background-color: #262626;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

footer div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

footer p {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

#returnToTopContainer {
	position: fixed;
	opacity: 0;
	bottom: -2rem;
	right: 1rem;
	width: 3rem;
	height: 2rem;
	display: block;
	margin: auto;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

#returnToTopContainer.show {
	bottom: 1rem;
	opacity: 1;
}

#returnToTop {
	width: 100%;
	height: 100%;
	clip-path: polygon(50% 0, 0 100%, 25% 100%, 50% 50%, 75% 100%, 100% 100%);
	background: linear-gradient(-90deg, rgb(72, 253, 45) 0%, rgba(54,225,116,0.5032213569021359) 80%, rgba(34,193,195,0) 100%);
}

@media (max-width: 40em) {
	.FlexWrapper {
		display: block;
	}

	.FlexWrapper .container section {
		transition: width 0s linear, height 0s linear, opacity 0s linear;
	}

	.FlexWrapper .container .FolderAndFiles * {
		transition: all 1s ease, width 0s linear, height 0s linear, opacity 0s linear;
	}

	.FlexWrapper > nav {
		margin-right: auto;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.FlexWrapper > div {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.FlexWrapper nav > div > div {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.FolderAndFiles > div > figure.Closed {
		width: 0;
	}

	.FolderAndFiles {
		width: 10em;
		margin: auto;
	}

	.Open + .FolderAndFiles {
		margin: 0;
	}

	.Open {
		width: 100%;
		margin: 0;
	}

	.Open > div {
		width: 100%;
	}

	.FlexWrapper main.container {
		margin: auto;
	}
}
