.Hacker {
	position: absolute;
	top:10px;
	left:0;
	display: inline-block;
	overflow: hidden;
	background-image: url(../Images/green_line.png);
	background-repeat: repeat-x;
	transition: filter 1s linear;
	height: 1em;
	margin: 0;
	padding: 0;
	z-index: -1;
	animation-duration: 1s;
	animation-name: TopBarAnimation;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.Hacker:hover {
	filter: hue-rotate(270deg);
}

@keyframes TopBarAnimation {
	0% {
		left:0;
		width: calc(100% + 0px);
	}
	100% {
		left:-128px;
		width: calc(100% + 128px);
	}
}